<html>
<style>
    div {
        text-align: center
    }

    p {
        text-align: left
    }

    h1 {
        text-align: left
    }
    h2 {
        text-align: left
    }
</style>



<div style="border: medium solid aquamarine; padding: 20px; ">
    <div>
        <label for="text"> Add note: </label>
        <input type="text" onClick="(this.value='')" width="auto" name="input-text" placeholder="new note" #box />
        <button (click)="addNote(box.value)"> save note </button>
    </div>
    <div>
        <label for="text"> Delete note: </label>
        <input type="text" onClick="(this.value='')" width="auto" name="delete-text" placeholder="note # to delete"
            #box2 />
        <button (click)="deleteNote(box2.value)"> delete a note </button>

    </div>
</div>

<div name = "list" style="border: medium solid aquamarine; padding: 20px; ">
    <h1>
        List:
    </h1>
    <p *ngFor='let item of notes; let indexOfElement =index'>
        {{(indexOfElement +1)+ ") "}} {{item.noteText}}

    <p>
        <h2></h2>
</div>