button{
background: linear-gradient(90deg, #ffd89b,rgb(114, 248, 181));
color:darkseagreen;
border-radius:  40px; 
border-color: rgb(171, 216, 171);
}

div{
    color:rgb(62, 87, 62);

}

input[type="text"] {
    border:solid 1px var(rgb(194, 243, 194));
    padding: 7px;
    border-radius: 18px;
    margin-right: 4px;
    margin-bottom: 8px;
    display: inline-block;
    width: 39%;
    background-color:rgb(166, 211, 166);
    
  }

 h1{
    
        color:rgb(62, 87, 62);
        border-style: dotted;
        border-width: 2cqmin;
        border-radius: 0cqmax;
        width:77cqmax;
        padding-left: 3cqmax;
        padding-top: 1cqmax;
        block-size: 10cqmin;
        align-items: center;
        align-self: center;
        align-content: center;
        margin-left:4%



  }

  p{
    color:rgb(62, 87, 62);
    word-spacing: 1cqmax;
    

        border-style: dotted;
        border-width: 2cqmin;
        border-bottom-width: 0cqmax;
        border-top-width: 0cqmax;
        border-radius: 0cqmax;
        padding-left: 3cqmax;
        width:77cqmax;
        block-size: 10cqmin;
        align-items: center;
        align-self: center;
        align-content: center;
        margin-left:4%
        



  }
  h2{
    color:rgb(62, 87, 62);
        border-style: dotted;
        border-width: 2cqmin;
        border-bottom-width: 2cqmin;
        border-top-width: 0cqmax;
        border-radius: 0cqmax;
        width:80cqmax;
        block-size: 10cqmin;
        align-items: center;
        align-self: center;
        align-content: center;
        
        margin-left:4%

  }